.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  clear: right;
  min-height: 100%;
  overflow: auto;
  padding-bottom: 10rem;
}

.homepage_banner-image {
  position: relative;
  background-color: violet;
  height: 50rem;
  width: 150rem;
}

.banner-text {
  position: absolute;
  color: white;
  transform: translate(15%, 11%);
  font-size: 18rem;
  font-weight: bold;
  text-transform: uppercase;
}

.banner-text h1 {
  margin: 0rem 0rem 
}


.homepage-image-container{
  display: block;
  height: 50rem;
  width: 150rem;
}

.homepage-image-container img{
  display: block;
  width: 100%;
  height: 100%;
}

.homepage_recentcommbar{
  display: block;
  position: relative;
  width: 150rem;
  height: 40rem;
}

.homepage_recentcommbar_items{
  display: flex;
  overflow-x: scroll;
  padding: 1rem;
}

#banner-create {
  animation-name: moveInLeft;
  animation-duration: 2s;
}

#banner-connect {
  animation-name: moveInLeft;
  animation-duration: 4s;
}

#banner-sell {
  animation-name: moveInLeft;
  animation-duration: 5s;
}

#commbar-title {
  font-size: 2rem;
  padding: 1rem;
} 

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-10%, 0%);
  }

  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}