:root{
  --main_black: #000000;
  --card-grey: #e5e5e5;
  --icon-pink: #ffb6ef;
  --highlight: #ffdc60;
  --card-boxshadow: 0px 0px .5rem rgba(0, 0, 0, 0.7);
  --main-window_width: 1486rem;
  --main-window_height: 998px;
  --login-input__width: 386px;
  --login-input__height: 35px;
  --login-label__fontsize: 36px;
  --login-input__fontsize: 28px;
  --settings-label__fontsize: 24px;
  --settings-input__fontsize: 24px;
  --settings-input__width: 750px;
  --settings-input__height: 40px;
}


/* ----- The Request Page properties ----- */

.reqcomm-page {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.reqcomm-page.reqcomm-page__wrapper {
  height: 873px;
  background-color: burlywood;
  margin-bottom: 100px;
  width: 1500px;
  box-shadow: 0rem 0rem .8rem rgba(0, 0, 0, 0.5);
}

.reqcomm-page.reqcomm-page__product-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 750px;
  height: 873px;
  background-color: var(--main_black);
}

.reqcomm-page__title-header {
  display: flex;
  justify-content: flex-start;
  width: 500px;
  margin-bottom: 10px;
}

#req-product__title {
  color: white;
  font-size: 40px;
}

.reqcomm-page__image-display.reqcomm-image__container {
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  background-color: grey;
  margin-bottom: 10px;
}

#reqcomm-image__container-image {
  width: 500px;
  height: 500px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#reqcomm-image__container-image img {
  box-shadow: 0rem 0rem .8rem rgba(0, 0, 0, 0.5);
}

.reqcomm-page.reqcomm-page__product-info {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.reqcomm-page.reqcomm-page__product-info__headers {
  display: flex;
  justify-content: space-between;
  background-color: var(--icon-pink);
  color: white;
  padding: 5px;
  margin-bottom: 10px;
}

#product-info__headers-artist {
  font-size: 40px;
}

#product-info__headers-price {
  font-size: 40px;
}

.reqcomm-page.reqcomm-page__product-info__description {
  display: flex;
  justify-content: flex-start;
  font-size: 30px;
}

#product-info__description {
  color: white;
}

.reqcomm-page.reqcomm-page__form {
  width: 750px;
  height: 873px;
  background-color: white;
  display: flex;
  align-items: center;
}

