/* ----- The Request Page properties ----- */

.requestcomm-page {
  min-height: 100%;
  padding-bottom: 15.2rem;
}

.requestcomm-page.reqcommcontent-wrapper {
   display: flex;
  justify-content: center;
}

.requestcomm-page.reqcommform-container {
  display: flex;
  width: 150rem;
  height: 80rem;
  padding: 0;
  margin: 2rem;
  box-shadow: 0rem 0rem .8rem rgba(0, 0, 0, 0.5);
}

.requestcomm-page.reqcommform-imgdisplay {
  width: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0rem;
}

.reqcommform-imgdisplay.reqimg-container {
  background-color: transparent;
  /* display: flex;
  justify-content: center; */
  width: 50rem;
  /* height: 100%; */
  overflow: hidden;
  margin: 0;
}

.reqcommform-imgdisplay.reqimg-container img{
  background-color: blue;
  display: block;
  width: 100%;
  /* height: 100%; */
}

.reqcommform-imgdisplay.reqimg-info {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  color: white;
  font-size: 6.2rem;
  width: 50rem;
  padding: 2rem 0rem;
}

.reqcommform-imgdisplay.reqimg-info p {
  color: white;
  font-size: 2rem;
  width: 50rem;
  padding: 2rem 0.5rem;
}

.reqcommform-imgdisplay.reqimg-userprice {
  display: flex;
  justify-content: space-between;
  font-size: 6.2rem;
  width: 50rem;
  background-color: hotpink;
  padding: 0rem .5rem;
}

.req-price {
  /* background-color: hotpink; */
  padding: .25rem;
}

.requestcomm-page.reqcommform-component {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


/* ----- The Form Proporties -----*/

.request-form {
  display: flex;
  flex-direction: column;
}

.request-form.request-errors {
  font-size: 4rem;
  color: red;
}

.request-form.requestform-info {
  font-size: 8rem;
}

.request-form.requestform-info p {
  color: darkgray;
}

.word-count {
  padding-top: 1rem;
}

.request-form.requestform-info li{
  display: flex;
  flex-direction: column;
}

.request-form.requestform-info label {
  margin: 1rem 0rem;
  font-weight: bold;
}

.request-form.requestform-info input {
  font-size: 2rem;
  padding: .25rem;
}

.request-form.requestform-info textarea {
  font-size: 2rem;
  padding: .25rem;
  resize: none;
  height: 15rem;
}

.request-form.request-urgency {
  display: flex;
  flex-direction: row;
}

.request-form.request-urgency label {
  margin-top: 0rem;
  font-size: 2rem;
}

.request-form.request-urgency input {
  margin: .5rem 2rem;
}

.due-date__hidden {
  visibility: hidden;
  height: 0rem;
  opacity: 0;
  transition: height .5s, opacity .5s;
  transition-delay: opacity .5s;
}

.due-date__hidden p {
  margin-bottom: 1rem;
}

.due-date {
  visibility: visible;
  margin-bottom: 2rem;
  height: 5rem;
  opacity: 1;
  transition: height .5s, opacity 1s;
}

.due-date p{
  margin-bottom: 1rem;
}

.request-form.request-submit {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  width: 5rem;
}

.request-form.request-submit:hover {
  color: hotpink;
}
