.splashpage {
  min-height: 100%;
  /* overflow: auto; */
  padding-bottom: 15.2rem;
}

.splashpage.splashcontent-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  clear: both;
  /* height: 80rem; */
  /* background-color: cornflowerblue; */
}

.splashpage.logincontent {
  display: flex;
  /* background-color: coral; */
  width: 150rem;
  height: 873px;
  max-height: 1080px;
  padding: 0;
  margin-bottom: 50px;
  /* margin: 2rem; */
  /* clear: both; */
  box-shadow: 0rem 0rem .8rem rgba(0, 0, 0, 0.5);
}

.splashpage.loginform-image {
  width: 50%;
  background-color: black;
  margin: 0;
  padding: 0;
}

.splashpage.loginform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0;
  padding: 0;
}

.splashlogin-form {
  display: block;
  /* background-color: cadetblue; */
}

.login-form__hidden {
  display: block;
  /* background-color: cadetblue; */
  visibility: hidden;
}

.signup-display {
  /* position: absolute; */
  /* z-index: 20; */
  /* transform: translate(-22rem, -30rem); */
  animation-name: openSignUp;
  animation-duration: .8s;
  visibility: visible;
  transition: visibility 0s;
  margin-bottom: 10px;
  /* align-self: center; */
  /* justify-self: flex-start; */
}

.signup-display__hidden {
  /* position: absolute; */
  visibility: hidden;
  /* transform: translate(-22rem, -30rem); */
  animation-name: closeSignUp;
  animation-duration: .8s;
}

.splashpage.authforms {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 750px;
  height: 100%;
  padding: 0;
  margin-bottom: 20px;
}

#authforms-display {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes openSignUp {

  0%{
    opacity: 0;
    transform: translate(2rem);
  }

  100%{
    opacity: 1;
    transform: translate(0rem);
  }
}
@keyframes closeSignUp {

  0%{
    opacity: 1;
    transform: translate(0rem);
  }

  100%{
    opacity: 0;
    transform: translate(2rem);
  }
}