.splashpage_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 12rem;
  right: 5rem;
  background-color: whitesmoke;
  width: 30rem;
  height: 35rem;
  border-radius: 5px;
  /* padding: 10rem 0rem 0rem 0rem */
  box-shadow: -.5rem .5rem .5rem rgba(0, 0, 0, 0.2);
}

.splashpage-form_logo {
  background-color: orangered;
  width: 8rem;
  height: 5rem;
  position: absolute;
  top: 5rem;
}

.signup-form {
  position: absolute;
  top: 12rem;
  bottom: 5rem;
  left: 8.8rem;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-button{
  margin-top: -.5em;
}

.login-button {
  margin-top: -.5em;
}

.signup-form__hidden {
  visibility: hidden;
}

.login-form__hidden {
  visibility: hidden;
}