/* .commform-container {
  display: flex;
  transform: translate(75%, 20%);
  box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.5);
  width: 70rem;
}

.commform-display {
  background-color: black;
  height: 45rem;
  width: 35rem;
}

.commform-component {
  position: relative;
  transform: translate(3.5rem, 1.5rem);
}

.comm-form {
  display: flex;
  flex-direction: column;
}

.form-sections {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

.form-sections input {
  margin: .25rem 0rem;
}

textarea {
  resize: none;
  height: 5rem;
}

.commform-labels {
  font-weight: bold;
  margin: .5rem 0rem;
}

.commduration__hidden{
  visibility: hidden;
  animation-name: hideDuration;
  animation-duration: .7s;
  transition-delay: .5s;
}

.commduration{
  visibility: visible;
  animation-name: showDuration;
  animation-duration: .7s;
  transition: visibility 0s;
}

.duration-options {
  font-size: 2rem;
}

.duration-options input {
  margin: 0rem 1.5rem;
  transform: translate(0rem, .25rem);
}

.commform-submit {
  color: black;
  cursor: pointer;
  font-size: 2rem;
  transition: color 1s, font-size 1s;
  background: none;
  border: none;
  outline: inherit;
}

.commform-submit:hover {
  color: hotpink;
  font-size: 2.5rem;
}

.commform-submit:active {
  border: none;
}

.commform-errors {
  position: absolute;
  transform: translate(35rem );
  color: red;
} */

.commission-page {
  min-height: 100%;
  padding-bottom: 15.2rem;
}

.commission-page.commcontent-wrapper {
  display: flex;
  justify-content: center;
}

.commission-page.comm-header {
  padding: 0rem;
  color: white;
}

.commission-page.commform-container {
  display: flex;
  width: 150rem;
  height: 80rem;
  padding: 0;
  margin: 2rem;
  box-shadow: 0rem 0rem .8rem rgba(0, 0, 0, 0.5);
}

.commission-page.commform-imgdisplay {
  width: 50%;
  background-color: black;
}

.commission-page.commform-component {
  width: 50%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.comm-form.commform-info {
  font-size: 8rem;
}

.comm-form.commcontent-wrapper ul{
  list-style: none;
}

.comm-form.commform-info ul{
  list-style: none;
}

.comm-form.commform-info li {
  padding: .25rem;
}






@keyframes showDuration {
  0% {
    opacity: 0;
    transform: translate(0rem, -1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0rem, 0rem);
  }
}

@keyframes hideDuration {
  0% {
    opacity: 1;
    transform: translate(0rem, 0rem);
  }

  100% {
    opacity: 0;
    transform: translate(0rem, -1rem);
  }
}