.space-filler {
  display: block;
  background-color: tomato;
  height: 20rem;
  width: 40rem;
  z-index: 2000;
}
.footer {
  /* display: block; */
  position: relative;
  right: 0;
  left: 0;
  bottom: 0;
  height: 10rem;
  background-color: black;
  color: white;
  /* z-index: 2000; */
  clear: both;
  margin-top: -10rem;
}

.creator-info {
  font-size: 4rem;
  margin-left: 14rem;
}

.creator-info li {
  display: inline-block;
  padding: 1rem;
}

.creator-info a {
  color: white;
}

.creator-info a:active {
  color: hotpink;
}

.creator-info a:hover {
  color: yellow;
}
