.root{
  --main_black: #000000;
  --card_grey: #e5e5e5;
  --icon_pink: #ffb6ef;
  --highlight: #ffdc60;
  --main_window_width: 1500rem;
  --main_window_height: 998rem;
}

.artpage {
  display: flex;
  justify-content: center;
  width: 1752px;
  height: 2122px;
}


.artpage.display {
  display: flex;
  align-content: center;
  flex-direction: column;
  width: var(--main_window_width);
  height: var(--main_window_height);
  background-color: var(--icon_pink);

}

.artpage.art-content {
  width: 1492px;
  height: 745px;
  background-color: violet;
}

.artpage.art-content__product-displaywindow {
  overflow: hidden;
  width: 676px;
  height: 676px;
}

.artpage.art-details {
  width: 1492px;
  height: 1221px;
  background-color: aqua;
}

