.basicinfo-maincontainer {
  display: flex;
  transform: translate(65%, 5%);
  box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.5);
  width: 70rem;
  height: 40rem;
}

.basicinfo-picbox {
  background-color: black;
  width: 35rem;
}

.basicinfo-formcontainer {
  padding: 1rem;
  width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.basicinfo-form-sections {
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
}

.basicinfo-form-sections input {
  padding: .5rem .25rem;
  margin: 0rem .25rem;
}

.basicinfo-form {
  transform: translate(0rem, 1rem);
}

.basicinfo-form-sections label {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: .5rem
}

.save-button {
  transform: translate(0rem, 1rem);
  font-weight: bold;
}