 .basicinfo-card {
  display: block;
  background-color: lightslategray;
  width: 35rem;
  height: 47rem;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.8);
}

/* .main-info-container {
  font-size: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  width: 35rem;
  height: 47rem;
}

.name-info {
  font-weight: bold;
  font-size: 5rem;
}

.location-info {
  transform: translate(0rem, -3rem);
}

.plug-info {
  font-size: 1.5rem;
  transform: translate(0rem, -5rem);
}

.profile-picture {
  width: 20rem;
  height: 20rem;
  border-radius: 30rem;
  background-color: violet;
}

.bio-info {
  position: absolute;
  width: 25rem;
  height: 10rem;
  margin: 0rem;
  transform: translate(0.25rem, 18rem);
}

.bio-info h5 {
  margin: 0rem;
} */