.profile-banner {
  background-color: black;
  height: 18rem;
  width: 500vh;
}

.profile-layout {
  height: 35rem;
  width: auto;
  display: flex;
  justify-content: flex-start;
  font-size: 2rem;
  transform: translate(23rem);
}

.profile-card {
  transform: translate(5rem, -8rem);
}

.profile-left {
  display: flex;
}

.commission-slot {
  height: 28rem;
  width: 65rem;
  
  transform: translate(43rem, 1rem);
  padding: .75rem;
}

.commission-slot h1 {
  font-size: 2rem;
}

.commission-slot-display {
  padding: 2rem;
  width: 65rem;
  height: 30rem;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
}

/* .profile-right {
  position: absolute;
  background-color: darkblue;
  width: 40rem;
  height: 73rem;
  transform: translate(110rem, 7rem);
} */

/* .prof-displays {
  background-color: darkgray;
  width: 103rem;
  height: 45rem;
  margin: 0rem;
  transform: translate(-60rem, 35rem);
} */

