/* .login-form {
  font-size: 1.5rem;
  padding: 1rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 0rem 0rem 0rem
}

.email-field {
  display: flex;
  flex-direction: column;
}

.password-field {
  display: flex;
  flex-direction: column;
}

input {
  width: 10rem;
  height: 1rem;
} */
/* 
.splashlogin-form {
  font-size: 8rem;
  width: 30rem;
  transform: translate(5%, 15%);
  visibility: visible;
  transition: visibility 0s;
  animation-name: showLogin;
  animation-duration: .5s;
}

.splashlogin-form__hidden {
  font-size: 8rem;
  transform: translate(5%, 15%);
  width: 30rem;
  animation-name: hideLogin;
  animation-duration: .5s;
  visibility: hidden;
  transition-delay: 0.5s;
}

.splashpage-form_logo {
  background-color: orangered;
  width: 8rem;
  height: 5rem;
  margin: .25rem;
  transform: translate(13.3rem, -3rem);
}

.login-form input {
  padding: .25rem;
  margin: .25rem;
}

.login-form label {
  margin: .25rem;
  font-size: 2rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(2.2rem, -4rem)
}

.email-field {
  display: flex;
  flex-direction: column;
}

.password-field {
  display: flex;
  flex-direction: column;
}

.login-submit {
  font-size: 2rem;
  color: black;
  transition: font-size 1s, color .5s;
}

.login-submit:hover {
  font-size: 2.5rem;
  color: hotpink;
} */

.login-form.login-errors {
  /* background-color: crimson; */
  width: 42rem;
  font-size: 6rem;
  color: red;
  margin: 0rem;
}

.login-form.login-errors ul {
  list-style: none;
}

.login-form.login-container {
  display: block;
  font-size: 15rem;
  padding: 1rem;
}

.login-form.login-info {
  display: block;
  list-style: none;
  font-size: 10rem;
}

.login-form.login-info label{
  margin-bottom: .5rem;
}

.login-form.login-buttons {
  font-size: 5rem;
}

.login-form.login-buttons button {
  margin-right: 2rem;
  border: none;
  background: none;
}


@keyframes hideLogin {
  
  0% {
    opacity: 1;
    transform: translate(5%, 15%);
  }

  100%{
    opacity: 0;
    transform: translate(-5%, 15%);
  }

}

@keyframes showLogin {
  
  0% {
    opacity: 0;
    transform: translate(-5%, 15%);
  }

  100%{
    opacity: 1;
    transform: translate(5%, 15%);
  }

}