:root{
  --main_black: #000000;
  --card-grey: #e5e5e5;
  --icon-pink: #ffb6ef;
  --highlight: #ffdc60;
  --card-boxshadow: 0px 0px .5rem rgba(0, 0, 0, 0.7);
  --main-window_width: 1500rem;
  --main-window_height: 998rem;
}

.login-form.login-errors {
  /* background-color: crimson; */
  width: 42rem;
  font-size: 6rem;
  color: red;
  margin: 0rem;
}

.login-form.login-errors ul {
  list-style: none;
}

.login-form.login-container {
  display: block;
  font-size: 15rem;
  padding: 1rem;
}

.login-form.login-info {
  display: block;
  list-style: none;
  font-size: 10rem;
}

.login-form.login-info label{
  margin-bottom: .5rem;
}

.login-form.login-buttons {
  font-size: 5rem;
}


.login-form.login-buttons button {
  margin-right: 2rem;
  border: none;
  background: none;
  outline: none;
  background-color: black;
  color: white;
  padding: 5px;
}

.login-form.login-buttons button:hover {
  background-color: var(--highlight);
}


.splashlogin-form__hidden {
  animation-name: hideLogin;
  animation-duration: .5s;
  visibility: hidden;
  transition-delay: 0.5s;
}

.splashlogin-form {
  visibility: visible;
  transition: visibility 0s;
  animation-name: showLogin;
  animation-duration: .5s;
}


@keyframes hideLogin {
  
  0% {
    opacity: 1;
    /* transform: translate(5%, 15%); */
  }

  100%{
    opacity: 0;
    /* transform: translate(-5%, 15%); */
  }

}

@keyframes showLogin {
  
  0% {
    opacity: 0;
    transform: translate(-3rem);
  }

  100%{
    opacity: 1;
    transform: translate(0rem);
  }

}