/* .signup {
  display: flex;
  flex-direction: column;
  font-size: 8rem;
}

.signup input {
  margin: .75rem 0rem;
  padding: .75rem;
  height: 2.5rem;
}
.signup-formdata {
  display: flex;
  flex-direction: column;
}

.signup-formdata label{
  font-size: 2rem;
}

.signup-fields {
  display: flex;
  flex-direction: column;
}

.signup-buttons {
  display: flex;
  align-items: center;
}

.signup-buttons * {
  margin: 0rem 5rem 0rem 0rem;
}

.choices {
  display: flex;
  margin-top: -.5rem;
  margin-bottom: 1rem;
}

.choices input {
  position: relative;
  transform: translate(0rem, .5rem);
  margin: 0rem 2rem 0rem 1rem;
}

.choices label {
  margin: 0rem 0rem ;
}

.reveal-login {
  transform: translate(5rem);
  font-size: 2rem;
  transition: font-size 1s;
}

.reveal-login:hover {
  color: hotpink;
  cursor: pointer;
  font-size: 2.5rem;
}

.signup-submit {
  font-size: 2rem;
  transition: font-size 1s;
  cursor: pointer;
  margin: 0rem;
}

.signup-submit:hover {
  color: hotpink;
  font-size: 2.5rem;
} */

.signup-form.signup-container {
  padding: 1rem;
}

.signup-form.signup-container input {
  /* margin: 0rem; */
}

.signup-form.signup-info{
  display: block;
  font-size: 11rem;
}

.signup-form.signup-info ul {
  list-style: none;
}

.choices {
  font-size: 3rem;
}

.signup-form.signup-buttons {
  display: block;
}

.signup-form.signup-buttons button {
  border: none;
  background: none;
  margin-right: 2rem;
  outline: none;
}

.signup-form.signup-buttons a:hover {
  color: hotpink;
  cursor: pointer;
}

.signup-form.signup-buttons button:hover {
  color: hotpink;
  cursor: pointer;
}
