:root{
  --main_black: #000000;
  --card-grey: #e5e5e5;
  --icon-pink: #ffb6ef;
  --highlight: #ffdc60;
  --card-boxshadow: 0px 0px .5rem rgba(0, 0, 0, 0.7);
  --main-window_width: 1500rem;
  --main-window_height: 998rem;
}


.signup-form.signup-container {
  padding: 1rem;
}

.signup-form.signup-container input {
  /* margin: 0rem; */
}

.signup-form.signup-info{
  display: block;
  font-size: 11rem;
}

.signup-form.signup-info ul {
  list-style: none;
}

.choices {
  font-size: 3rem;
}

.signup-form.signup-buttons {
  display: block;
}

.signup-form.signup-buttons button {
  font-size: 3rem;
  border: none;
  background: none;
  margin-right: 2rem;
  outline: none;
  background-color: black;
  color: white;
  padding: 5px;
  /* border-radius: 2px; */
}

.signup-form.signup-buttons a:hover {
  color: hotpink;
  cursor: pointer;
}

.signup-form.signup-buttons button:hover {
  background-color: var(--highlight);
  cursor: pointer;
}
