.commission-card{
  background-color: grey;
  border-radius: 3px;
  height: 350px;
  width: 300px;
  display: flex;
  margin: .5rem;
  flex-direction: column;
  box-shadow: -8px 8px 7.2px rgba(0, 0, 0, 0.2);
}

.commission-card__image{
  background-color: hotpink;
  padding: 5px;
  height: 250px;
}

.commission-card__maininfo {
  background-color: wheat;
  /* padding: .35rem .25rem; */
  height: 80px;
  margin-bottom: 32px;
}

.commission-card__maininfo p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 4px;
}

.commission-card__rating {
  display: flex;
  justify-content: space-between;
  padding: 3px 4px
}

.commission-card__rating p {
  font-size: .5rem;
}

.commission-card__ratingdiv {
  display: flex;
  justify-content: space-evenly;
}

