:root{
  --main_black: #000000;
  --card-grey: #e5e5e5;
  --icon-pink: #ffb6ef;
  --highlight: #ffdc60;
  --card-boxshadow: 0px 0px .5rem rgba(0, 0, 0, 0.7);
  --main-window_width: 1500rem;
  --main-window_height: 998rem;
}

.commission-card {
  margin: 0rem;
  padding: 0rem;
}

.commission-card.body{
  display: block;
  background-color: whitesmoke;
  box-shadow: 0px 0px .5rem rgba(0, 0, 0, 0.7);
  height: 40rem;
  margin: 1rem;
  width: 48rem;
}

.commission-card.container {
  display: block;
  background-color: black;
  height: 80%;
}

.commission-card.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 48rem;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

.commission-card.img-container img {
  display: block;
  width: 100%;
}

.commission-card.title-container {
  display: block;
  position: relative;
  height: 35%;
  width: 100%;
  top: -11.1rem;
  opacity: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.87), transparent 80%);
  transition: opacity 1s;

}

.commission-card.title-container:hover {
  opacity: 1;
}

.title-container.title-box {
  display: flex;
  align-items: flex-end;
  font-size: 10rem;
  padding: 1rem;
  text-align: start;
}

.commission-card.content-container{
  display: block;
  padding: .5rem;
}

.commission-card.content-container ul {
  list-style: none;
}
.commission-card.content-container li {
  margin: 0;
}

.content-container.info-container {
  display: flex;
  flex-direction: row;
}

.content-container.info-container h2 {
  font-size: 24px;
  padding: 2px;
  margin-right: 5px;
}

.content-container.rating-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#rating-info__ratings {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#rating-info__ratings i {
  font-size: 24px;
  color: var(--highlight);
}

#rating-number {
  padding: 10px;
  margin-left: 5px;
  font-size: 1rem;
}


#rating-info__price {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 179px;
}

#price-display {
  font-size: 28px;
  font-weight: bold;
  padding: 2px;
}

.title-container.title-nav {
  color: white;
}
.title-container.title-nav:hover {
  color: var(--icon-pink);
}

.info-container.username {
  color: black;
  text-decoration: none;
}

.info-container.username:hover {
  color: var(--icon-pink);
  text-decoration: underline;
}

