

.nav-dropmenu {
  display: block;
  height: auto;
  width: 200px;
  background-color: black;
  position: absolute;
  transform: translate(-8rem, 4rem);
  z-index: 2000;
  animation-name: openUp;
  animation-duration: .5s;
}

.nav-dropmenu ul {
  list-style-type: none;
  padding: 0rem;
}

.nav-dropmenu li {
  border-bottom: solid 1px;
  padding: .5rem;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color .5s;
  margin-bottom: 5px;
}

.nav-dropmenu li:hover {
  background-color: rgba(255, 255, 255, 0.281);
}

.nav-links {
  font-size: 18.5px;
  text-decoration: none;
  color: rgba(204, 115, 248, 0);
  transition: color .5s;
  cursor: pointer;
}

.nav-links:hover {
  color: rgba(204, 115, 248, 1);
}

#logout-button {
  font-size: 18.5px;
}

@keyframes openUp {
  0% {
    height: 0px;
  }

  100% {
    height: auto;
  }
}