.basicinfo-card {
  position: absolute;
  background-color: lightslategray;
  width: 30rem;
  height: 40rem;
}

.main-info-container {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: pink;
  width: 30rem;
  height: 40rem;
}

.profile-picture {
  
}