.basicinfo-card {
  position: absolute;
  background-color: lightslategray;
  width: 35rem;
  height: 45rem;
}

.main-info-container {
  font-size: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: pink;
  width: 35rem;
  height: 45rem;
}

.name-info {
  font-weight: bold;
}

.profile-picture {
  width: 20rem;
  height: 20rem;
  border-radius: 30rem;
  background-color: violet;
}