.procommission-card-body {
  min-height: 15rem;
  min-width: 13rem;
  background-color: whitesmoke;
  margin: .5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

.procommission-card-content {
  display: flex;
  flex-direction: column;
  min-width: 13rem;
  min-height: 11rem;
  max-width: 13rem;
  max-height: 11rem;
}

.image-container {
  /* background-color: burlywood; */
  position: relative;
  height: 12rem;
}

.image-container-img {
  position: relative;
  /* height: 100%; */
  min-width: 13rem;
  max-width: 13rem;
  min-height: 11rem;
  max-height: 11rem;
  /* visibility: hidden; */
}

.image-container-img img {
  height: 50%;
  width: 50%;
  min-width: 13rem;
  max-width: 13rem;
  min-height: 10rem;
  max-height: 10rem;
  /* visibility: hidden; */
}

.info-container {
  /* background-color: coral; */
  position: relative;
  display: flex;
  flex-direction: column;
  top: -1rem;
  margin-top: -.75rem;
  padding: .25rem;
}

.user-info * {
  padding: .05rem 0rem;
  margin-bottom: 2rem;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  min-width: 12.5rem;
}

.user-info h1 {
  font-size: 1rem;
  font-weight: bold;
  /* top: -.55rem; */
  min-width: 13rem;
  margin-bottom: -1rem;
}

.rating-info {
  display: flex;
  justify-content: space-between;
  
}

.rating-info * {
  /* position: absolute; */
  font-size: .70rem;
  font-weight: bold;
  
}

.labels {
  padding-bottom: .25rem;
  margin-bottom: -1.25rem;
}
