.profile-banner {
  background-color: black;
  height: 18rem;
  width: 500vh;
}

.profile-layout {
  height: 35rem;
  width: auto;
  display: flex;
  justify-content: flex-start;
  font-size: 2rem;
}

.profile-card {
  transform: translate(5rem, -8rem);
}

.profile-left {
  display: flex;
}

.commission-slot {
  height: 25rem;
  width: 65rem;
  
  transform: translate(43rem, 7rem);
  padding: .75rem;
}

.commission-slot-display {
  background-color: cornflowerblue;
  padding: 2rem;
  width: 62rem;
  height: 22rem;
  overflow-x: scroll;
}

.profile-right {
  position: absolute;
  background-color: darkblue;
  width: 40rem;
  height: 73rem;
  transform: translate(110rem, 7rem);
}

.prof-displays {
  background-color: darkgray;
  width: 103rem;
  height: 45rem;
  margin: 0rem;
  transform: translate(-60rem, 35rem);
}

