.commform-div {
  background-color: lightgray;
  margin: 2rem 1rem;
  padding: 3rem;
  border-radius: 5px;
  height: 60rem;
  width: 50rem;
  transform: translate(60rem, 2rem);
}

.form-sections {
  display: flex;
  flex-direction: column;
  /* align-content: center; */
}

.comm-form {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
}

.comm-form * {
  padding: .5rem;
}

.comm-form input {
  height: 3rem;
  width: 26rem;
}

.comm-upload-bar {
  height: 3.5rem;
  width: 26rem;
}