.nav-bar * {
  color: white;
}

.nav-bar {
  background-color: black;
  position: absolute;
  height: 4rem;
  width: 350vh;
  margin-top: -.15rem;
  border-bottom: 3px solid lightgray;
  z-index: 2000;
  /* position: fixed; */
  /* display: flex; */
  /* justify-content: center; */
  /* justify-content: space-between; */
}

.nav-elements{
  display: flex;
  justify-content: space-between;
  padding: .5rem 12.5rem;
  width: 120rem;
  transform: translate(22.8%, 0%);
}

.user-options * {
  margin: 0rem 1rem;
}

.user-options {
  display: flex;
}


button {
  color: black;
  border: none;
  background: none;
  font-size: 2rem;
}

.navbar-dropdown {
  width: 2rem;
  height: 2rem;
  background-color: violet;
  border-radius: 10rem;
  border: 0rem solid yellow;
  transition: border 1s
}

.navbar-dropdown:hover {
  border: 1rem solid yellow;
}
