.nav-bar * {
  color: white;
}

.nav-bar {
  background-color: black;
  height: 40px;
  width: 100%;
  margin-top: -.15rem;
  border-bottom: 3px solid lightgray;
  z-index: 1000;
  /* position: fixed; */
  /* display: flex; */
  /* justify-content: center; */
  /* justify-content: space-between; */
}

.nav-elements{
  display: flex;
  justify-content: space-between;
  padding: .5rem 12.5rem;
}

.user-options * {
  margin: 0rem 1rem;
}

.user-options {
  display: flex;
}


button {
  color: black;
  border: none;
  background: none;
  font-size: 2rem;
}

.navbar-dropdown {
  width: 2rem;
  height: 2rem;
  background-color: violet;
  border-radius: 10rem;

}
