.nav-dropmenu {
  height: 20rem;
  width: 18rem;
  background-color: black;
  position: absolute;
  transform: translate(-17rem, 2rem);
  z-index: 2000;
  animation-name: openUp;
  animation-duration: 1s;
}

.nav-dropmenu ul {
  list-style-type: none;
  padding: 0rem;
}

.nav-dropmenu li {
  border-bottom: solid 1px;
  padding: .5rem;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color .5s;
}

.nav-dropmenu li:hover {
  background-color: rgba(255, 255, 255, 0.281);
}

.nav-links {
  font-size: 2rem;
  text-decoration: none;
  color: rgba(204, 115, 248, 0);
  transition: color .5s;
  cursor: pointer;
}

.nav-links:hover {
  color: rgba(204, 115, 248, 1);
}

#logout-button {
  font-size: 2rem;
}

@keyframes openUp {
  0% {
    height: 0rem;
  }

  100% {
    height: 20rem;
  }
}